<%= form_with(model: activity) do |form| %>
  <% if activity.errors.any? %>
    <article class="flash flash-error">
      <strong>
        <%= pluralize(activity.errors.count, "error") %> prevented this activity from being saved:
      </strong>
      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </article>
  <% end %>

  <fieldset role="group">
    <%= form.text_field :name,
          placeholder: "Go for a walk, read 10 pages…",
          aria: { label: "Activity name" } %>

    <%= form.submit "Add activity" %>
  </fieldset>
<% end %>
