<% content_for :title, "Stop Scrolling" %>

<% flash.each do |type, message| %>
  <% alert_class = case type.to_sym
     when :notice then "flash flash-success"
     when :alert  then "flash flash-error"
     else "flash flash-error"
     end %>

  <aside role="status" class="<%= alert_class %>">
    <%= message %>
  </aside>
<% end %>

<section class="intro">
  <h1>Stop scrolling!</h1>
  <p>
    Ever catch yourself endlessly scrolling, wishing you were doing something more meaningful, but can’t decide what?
  </p>
</section>

<section class="random">
  <article>
    <h2>Get off your phone and do something else.</h2>
    <% if @random_activity %>
      <p>
        <%= random_cta %> <strong><%= @random_activity.name.downcase %></strong>.
      </p>
    <% elsif @activities.blank? %>
      <p>Add some activities to get inspired.</p>
    <% else %>
      <p>Need some inspiration?</p>
    <% end %>

    <%= link_to "From your list",
                random_activities_path,
                role: "button",
                data: { turbo: false },
                aria: { label: "From your list" } %>

    <%= link_to "Random suggestion",
                suggestion_activities_path,
                role: "button",
                class: 'secondary',
                data: { turbo: false },
                aria: { label: "Random suggestion" } %>
  </article>
</section>

<section class="add-activity">
  <article>
    <h2>What do you like doing?</h2>
    <p>What do you wish you were doing more of?</p>
    <%= render "form", activity: @activity %>
  </article>
</section>

<section class="activities">
  <h2>Things you like doing.</h2>

  <% if @activities.present? %>
    <ul class="activity-list">
      <%= render @activities %>
    </ul>
  <% else %>
    <p class="empty-state">
      Nothing here yet. Add your first activity above.
    </p>
  <% end %>
</section>
